<div class="container-fluid">
  <nav class="navbar navbar-expand-lg ">
    <button class="btn btn-outline-success ms-auto" data-bs-toggle="modal"
      data-bs-target="#addBook" type="submit">Add Book</button>
  </nav>
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">Author</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Publish</th>
        <th scope="col" class="text-center text-capitalize">book title</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookList" >
        <th class="text-center pt-3">{{book.id}}</th>
        <td class="text-center pt-3">{{book.author}}</td> 
        <td class="text-center pt-3">{{book.category}}</td>
        <td class="text-center pt-3">{{book.publish}}</td>
        <td class="text-center text-capitalize pt-3">{{book.title}}</td>
        <td class="text-center">
          <button class="btn btn-primary me-2" data-bs-toggle="modal"
          data-bs-target="#editBook" (click)="saveEdit(book)" ><i class="fa-solid fa-pen-to-square"></i> Edit</button>
          <button class="btn btn-danger" (click)="deleteTheBook(book)" ><i class="fa-solid fa-trash"></i> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="addBook" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (submit)="addBook()">
            <div class="mb-3">
              <label for="" class="form-label text-capitalize"> author id</label>
              <input type="number" formControlName="authorName" class="form-control" id="">
            </div>
            <div class="mb-3">
              <label for="" class="form-label text-capitalize"> book title</label>
              <input type="text" formControlName="title" class="form-control " id="">
            </div>
            <div class="mb-3">
              <label for="Published" class="form-label text-capitalize">Published Time</label>
              <input type="date" formControlName="publish" class="form-control " id="Published">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label text-capitalize">Book category</label>
              <input type="number" formControlName="category" class="form-control " id="type">
            </div>
            <div class="mb-3">
              <label for="" class="form-label text-capitalize"> book description</label>
              <input type="text" formControlName="description" class="form-control " id="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal"   data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"  data-bs-dismiss="modal">Add</button>
            </div>
          </form>
          <div class="mb-3">
            <label for="bookFile" class="form-label">Upload your book</label>
            <input type="file" (change)="onFileSelected($event)">
            
          </div>
          <div class="mb-3">
            <label for="bookFile" class="form-label">Upload book image</label>
            <input type="file" #filePicker (change)="onImagePicked($event)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editBook" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form2" (submit)="editBook()">
            <div class="mb-3">
              <label for="" class="form-label text-capitalize"> author id</label>
              <input type="number" formControlName="authorName" class="form-control" id="">
            </div>
            <div class="mb-3">
              <label for="bookname" class="form-label">Book Title </label>
              <input type="text" formControlName="title" class="form-control" id="bookname">
            </div>
            <div class="mb-3">
              <label for="Published" class="form-label">Published Time</label>
              <input type="date" formControlName="publish" class="form-control" id="Published">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label text-capitalize">Book category</label>
              <input type="number" formControlName="category" class="form-control " id="type">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Update</button>
            </div>
          </form>
          <div class="mb-3">
            <label for="bookFile" class="form-label">Upload your book</label>
            <input type="file" (change)="onFileSelected($event)">
            
          </div>
          <div class="mb-3">
            <label for="bookFile" class="form-label">Upload book image</label>
            <input type="file" #filePicker (change)="onImageEdited($event)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
