<footer class="container-fluid mt-5">
  <div class="container">
    <div class="row p-2">
      <div class="col-lg-4 ">
          <div class="card-img py-4">
              <div class="image">
                  <img class="w-50" src="^../../../../assets/images/semibook-high-resolution-logo-white-on-transparent-background.png" alt="image footer">
              </div>
              <p class="text-white py-3">Start to reading online and <br> summarize your book</p>
              <div class="icon-footer w-50 d-flex justify-content-between text-white">
                  <i class="fa-brands fa-facebook fs-4"></i>
                  <i class="fa-brands fa-linkedin fs-4"></i>
                  <i class="fa-brands fa-twitter fs-4"></i>
                  <i class="fa-brands fa-youtube fs-4"></i>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="card-link  text-capitalize  py-4">
              <h3 class=" fw-bold text-white">company</h3>
              <h6 class=" mt-4"><a routerLink="/home">home</a></h6>
              <h6><a routerLink="/aboutus">about us</a></h6>
              <h6><a routerLink="/books">books</a></h6>
              <h6><a routerLink="/contactus">contact us</a></h6>
              <h6><a routerLink="/articles">Articles</a></h6>

          </div>
      </div>
      <div class="col-lg-4">
          <div class="card-link  text-capitalize  py-4">
              <h3 class=" fw-bold text-white">important link</h3>
              <h6 class=" mt-4"><a href="">privacy police</a></h6>
              <h6 class=""><a href="">faq</a></h6>
              <h6 class=" mb-4"><a href="">terms of service</a></h6>
          </div>
      </div>
      <div class="footer-info text-white text-capitalize d-flex justify-content-between">
        <p>© 2023 Project Graduation. All Rights Reserved.</p>
        <p>Privacy | Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
