<!-- Button trigger modal -->
<button
  type="button"
  class="btn summerize"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
<img src="../../../../assets/images/Summerize.gif" alt="">
</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Summerize our text</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea name="text-summerize" class="form-control py-2"></textarea>
      </div>

      <div class="modal-body">
        <textarea name="issummerize" class="form-control py-2"></textarea>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn Summerize">Summerize</button>
      </div>
    </div>
  </div>
</div>
