<section>
      <!-- table -->
      <table class="table table-hover mt-5">
        <thead>
          <tr >
            <th scope="col" class="text-capitalize text-center">user name</th>
            <th scope="col" class="text-capitalize text-center">email</th>
            <th scope="col" class="text-capitalize text-center">password</th>
            <th scope="col" class="text-capitalize text-center">phone number</th>
            <th scope="col" class="text-capitalize text-center">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userObject">
            <td class="text-capitalize text-center">{{user.name}}</td>
            <td class=" text-center">{{user.email}}</td>
            <td class=" text-center">{{user.password}}</td>
            <td class=" text-center">{{user.phone}}</td>
            <td class="text-center">
                <button type="button" class="btn text-capitalize btn-danger" (click)="deleteUser(user)" ><i class="fa-solid fa-trash"></i> delete</button></td>
            </tr>
        </tbody>
      </table>      
</section>
