<section class=" ">
        <div class="row my-book">
            <h3 class="col-lg-2  fw-bold  text-capitalize ">my books</h3>
            <div class="line col-lg-10 mt-3"></div>
        </div>  
    <app-swipper [slides]="allBooks"></app-swipper>
</section>
    <!-- ---wishlist---- -->
<section class=" ">
      <div class="row my-book">
          <h3 class="col-lg-2  fw-bold  text-capitalize ">my wishlist</h3>
          <div class="line col-lg-10 mt-3"></div>
      </div>  
  <app-swipper [slides]="allWishList"></app-swipper>
</section>
