<section>
    <nav class="navbar navbar-expand-lg ">
        <button class="btn text-capitalize btn-outline-success ms-auto" data-bs-toggle="modal"
          data-bs-target="#addCategory" type="submit">add category</button>
      </nav>

      <!-- table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-capitalize text-center">name</th>
            <th scope="col" class="text-capitalize text-center">description </th>
            <th scope="col" class="text-capitalize text-center">image</th>
            <th scope="col" class="text-capitalize text-center">action</th>
          </tr>
        </thead>
        <tbody>

            <!-- table body -->
            <tr>
                <td class="text-capitalize text-center">asmaa</td>
                <td class="text-capitalize text-center">web development</td>
                <td class="text-capitalize text-center">category </td>
                <td class="text-center">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#editCategory" (click)="editCategory()" >Edit</button>
                    <button class="btn btn-danger" (click)="deleteCtegory()"  >Delete</button>
                  </td>
            </tr>
        </tbody>
      </table>

      <!-- add category -->
      <div class="modal fade" id="addCategory" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="text-capitalize modal-title fs-5" id="exampleModalLabel">add new category</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>

          </div>
          <div class="modal-body">
           
            <form [formGroup]="x">
                <div class="mb-3">
                  <label for="authorName" class="text-capitalize form-label">category name</label>
                  <input type="text" formControlName="name" class="form-control" id="authorName">
                </div>
                <div class="mb-3">
                  <label for="description" class="text-capitalize form-label">description </label>
                  <input type="text" formControlName="describtion" class="form-control" id="description">
                </div>
                <div class="mb-3">
                    <label for="authorImage" class="text-capitalize form-label">upload your category image</label>
                    <input class="form-control" formControlName="image"  type="file" id="authorImage">
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn text-capitalize btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn text-capitalize btn-primary" data-bs-dismiss="modal" (click)="addCategory()" >add</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- edit category -->
    <div class="modal fade" id="editCategory" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">edit category</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="x">
                <div class="mb-3">
                  <label for="categoryName2" class="text-capitalize form-label">category name</label>
                  <input type="text" formControlName="name" class="form-control" id="categoryName2">
                </div>
                <div class="mb-3">
                  <label for="description2" class="text-capitalize form-label">category description </label>
                  <input type="text" formControlName="describtion" class="form-control" id="description2">
                </div>
                <div class="mb-3">
                    <label for="categoryImage2" class="text-capitalize form-label">upload your category image</label>
                    <input class="form-control" formControlName="image"  type="file" id="categoryImage2">
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn text-capitalize btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn text-capitalize btn-primary" data-bs-dismiss="modal"  >save</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</section>